
@{
    ViewBag.Title = "QuanLyChuongTruyen";
    Layout = "~/Views/Shared/QuanLyLayout.cshtml";
}

<!-- Right side column. Contains the navbar and content of the page -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Chi tiết chương truyện
        </h1>
        <form action="~/QuanLy/UpdateComic" method="post" enctype="multipart/form-data">
            <input type="hidden" name="id" value="@ViewBag.list[0][0]" />
            <table>
                <tr>
                    <td>Tên chương: <input type="text" name="tentruyen" value="@ViewBag.list[0][1]" /></td>
                </tr>
                <tr>
                    <td>Nội dung chương:</td>
                </tr>
                <tr>
                    <td>
                        <textarea name="mota" rows="6" cols="100" style="resize: none">@ViewBag.list[0][3]</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Thêm chương"/>
                    </td>
                </tr>
            </table>
        </form>
    </section>
    <!--</section>--><!-- /.content -->
</div><!-- /.content-wrapper -->
