
@{
    ViewBag.Title = "QuanLyChuongTruyen";
    Layout = "~/Views/Shared/QuanLyLayout.cshtml";
}

<!-- Right side column. Contains the navbar and content of the page -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Danh sách chương
        </h1>
    </section>

    <section class="content">

        <!-- Main row -->
        <div class="row">
            <div id="content">
                <table border="1" style="width: 100%;">
                    <tr style="padding: 8px; background-color: #04AA6D; color: white;">
                        <th style="padding: 8px;">ID</th>
                        <th>Tên chương</th>
                        <th>Tên truyện</th>
                        <th>Ngày cập nhật chương</th>
                        <th></th>
                </tr>
                    @foreach (var a in ViewBag.list)
                    {
                <tr>
                            <td>@a[0]</td>
                            <td>@a[1]</td>
                            <td>@a[7]</td>
                            <td>@a[2]</td>
                    <td>
                                <a href="~/QuanLy/QuanLyChuongTruyenChiTiet?id=@a[0]" class="btn btn-primary">Chi tiết</a>
                                <a href="~/QuanLy/RemoveChapter?id=@a[0]" class="btn btn-danger" onclick="return confirmDeleteChapter()">Xóa</a>
                    </td>
                </tr>
                    }

            </table>
            </div>
        </div><!-- /.row (main row) -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->
